#game-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1076.1px;
  height: 496.125px;
  border: 25px solid black;
  border-radius: 80px;
  z-index: 300;
}

#sprite {
  width: 120px;
  position: absolute;
  bottom: 50%;
  left: 20%; 
  transform: translateY(-50%);
  z-index: 210;
}


body {
  margin: 0;
  padding: 0;
}

#game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1076.1px;
  height: 496.125px;
  border: 25px solid black;
  border-radius: 80px;
  background-color: white;
}

#ground {
  position: absolute;
  width: 1076.1px;
  height: 60px;
  top: 88%;
  background-color:rgb(181, 217, 108);
}

.tree {
  position: absolute;
  width: 100px;
  top: 50%;
  z-index: 7000;
}

#score {
  position: absolute;
  top: 30px;
  right: 35px;
  font-size: 30px;
  color: black;
  font-family: 'Abel', sans-serif;
}

#restartScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}



.point {
  width: 30px;
  position: absolute;
  top: 30%;
  z-index: 7000;
}

.gameover {
  font-size: 90px;
  font-family: 'VT323', monospace;
  line-height: 0.1;
}


.score {
  font-size: 40px;
  font-family: 'Tsukimi Rounded', sans-serif;
  line-height: 0.8;

}

.restart {
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
}

.rain {
  position: absolute;
  top: 46%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 220px; 
  height: 420px;
  z-index: 200;
  opacity: 40%;
}



.rain1 {
  position: absolute;
  top: 46%;
  left: 37%;
  transform: translate(-50%, -50%);
  width: 220px; 
  height: 420px;
  z-index: 200;
  opacity: 40%;
}

.rain2 {
  position: absolute;
  top: 46%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 220px; 
  height: 420px;
  z-index: 200;
  opacity: 40%;
}


.rain3 {
  position: absolute;
  top: 46%;
  left: 64%;
  transform: translate(-50%, -50%);
  width: 220px; 
  height: 420px;
  z-index: 200;
  opacity: 40%;
}


.rain4 {
  position: absolute;
  top: 46%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 220px; 
  height: 420px;
  z-index: 200;
  opacity: 40%;
}

